version: '3.8'

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.0.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "22181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.0.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  postgres:
    image: postgres:13
    environment:
      POSTGRES_DB: inventorydb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql

  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.7.1
    ports:
      - "5000:5000"
    command: mlflow server --backend-store-uri sqlite:///mlflow.db --default-artifact-root ./mlartifacts --host 0.0.0.0
    volumes:
      - ./mlflow-artifacts:/mlartifacts

  producer:
    build: .
    command: python producer/order_producer.py
    depends_on:
      - kafka
    volumes:
      - ./producer:/app/producer

  consumer:
    build: .
    command: python consumer/order_consumer_ml.py
    depends_on:
      - kafka
      - postgres
      - prediction-service
    volumes:
      - ./consumer:/app/consumer
      - ./ml:/app/ml

  prediction-service:
    build:
      context: .
      dockerfile: Dockerfile.prediction
    ports:
      - "8000:8000"
    volumes:
      - ./models:/app/models
      - ./api:/app/api
      - ./ml:/app/ml
    environment:
      MLFLOW_TRACKING_URI: http://mlflow:5000

  dashboard:
    build:
      context: .
      dockerfile: Dockerfile.dashboard
    ports:
      - "8501:8501"
    depends_on:
      - prediction-service
      - postgres
    volumes:
      - ./dashboard:/app/dashboard
      - ./ml:/app/ml

  model-monitor:
    build:
      context: .
      dockerfile: Dockerfile.trainer
    command: python ml/model_monitoring.py
    depends_on:
      - postgres
      - mlflow
    environment:
      MLFLOW_TRACKING_URI: http://mlflow:5000
      DB_HOST: postgres
    volumes:
      - ./ml:/app/ml

volumes:
  pgdata:
